In [1]:
import pandas as pd
from beakerx import *

In [2]:
prices=pd.read_csv("data/price.csv", index_col=0, header=0, parse_dates=True)

In [5]:
from pyutil.performance.month import monthlytable
m = monthlytable(prices["A"])
m

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,STDev,YTD
Year,,,,,,,,,,,,,,
2015,0.083478,-0.054955,-0.024348,0.014286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.206886,0.013276
2014,0.032265,0.065799,-0.031988,0.005872,-0.032380,0.062085,-0.033730,0.004101,-0.061849,-0.028705,-0.005173,0.014948,0.137691,-0.017244
2013,-0.006052,-0.050533,0.012136,-0.076310,-0.060152,-0.110489,0.073451,0.052745,-0.047457,-0.004394,-0.052611,-0.038165,0.184380,-0.279684

In [6]:
TableDisplay(m)